* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gochi Hand", cursive;
}
#game {
  height: 100vh;
  width: 100vw;
  background: url(background.png) no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

#bigfish {
  position: absolute;
  width: 150px;
  height: 80px;
  z-index: 100;
  background: url(bigfish.png) no-repeat;
  background-size: contain;
}

.smallfish {
  position: absolute;
  width: 100px;
  z-index: 4;
}

.hidden {
  display: none;
}
.show {
  display: block;
}
#score {
  position: absolute;
  bottom: 10px;
  right: 250px;
  padding-top: 70px;

  height: 200px;
  width: 200px;

  text-align: center;
  font-size: 25px;
  margin: 0 auto;
  background: url(btnbg.png);
  background-size: contain;
}
#point {
  font-size: 30px;
}
.gameover {
  position: absolute;
  z-index: 1000;
  width: 100vw;
  cursor: pointer;
}
#intro {
  background: url(intro.png) no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 9999;
  margin: 0 auto;
  text-align: center;
  font-size: 90px;
  color: white;
  padding-top: 280px;
}
#btn {
  width: 300px;
  height: 40px;
  margin: 0;
  font-size: 30px;
  border-radius: 10px;
}
