* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gochi Hand", cursive;
}
#game {
  height: 100vh;
  width: 100vw;
  background: url(background.png) no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

#bigfish {
  position: absolute;
  width: 150px;
  height: 80px;
  z-index: 100;
}
.smallfish {
  position: absolute;
  width: 100px;
  z-index: 4;
}
.hidden {
  display: none;
}
.show {
  display: block;
}
#score {
  position: absolute;
  bottom: 50px;
  right: 200px;
  padding-top: 70px;

  height: 200px;
  width: 200px;

  text-align: center;
  font-size: 25px;
  margin: 0 auto;
  background: url(btnbg.png);
  background-size: contain;
}
#point {
  font-size: 30px;
}
